<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DentalMain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DentalMain.Properties.Settings.ConnectionStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Стоматологічна клuінікаГоловна база.accdb&quot;;OLE DB Services=0"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <DentalMain.Properties.Settings>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
        </DentalMain.Properties.Settings>
    </userSettings>
</configuration>