<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DentalMain.Properties.Settings.ConnectionStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Стоматологічна клuінікаГоловна база.accdb&quot;;OLE DB Services=0"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>